$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$lightblue: rgb(74,217,217);
$blue: rgb(54,177,191);
$orange: #FF8B0D;   
$red: rgb(242,56,90);
$white: rgb(233,241,223);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);
@import url(http://fonts.googleapis.com/css?family=Asap);

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    background:$white;
    font-family:'Asap';
}

.wrapper {
    margin:0 auto;
    width:90%;
}

/* Header styles */
.header {
    border-bottom: 2px solid $blue;
    background: -moz-linear-gradient(top, rgba(5,171,224,1) 0%, rgba(92,179,188,1) 61%, rgba(54,177,191,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,171,224,1)), color-stop(61%,rgba(92,179,188,1)), color-stop(99%,rgba(54,177,191,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(5,171,224,1) 0%,rgba(92,179,188,1) 61%,rgba(54,177,191,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(5,171,224,1) 0%,rgba(92,179,188,1) 61%,rgba(54,177,191,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(5,171,224,1) 0%,rgba(92,179,188,1) 61%,rgba(54,177,191,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(5,171,224,1) 0%,rgba(92,179,188,1) 61%,rgba(54,177,191,1) 99%); /* W3C */
    z-index:100;
    position:relative;

    p {
        display:inline-block;
        font-family:'Asap';
        color:white;
    }
}

.header h3 {
    margin-top: 0;
    margin-bottom: -7px;
    line-height: 40px;
    padding-top: 26px;
    padding-bottom: 19px;
    color: white;
    font-family: 'Lily Script One';
    font-size: 40px;
    display:inline-block;
    
     span {
        color:$red;
    }
}

/*Sidebar styles*/

.nav {
        width:100%;
        height:120px;
        position:absolute;
        top:0;
        left:0;
        z-index:99;
        background:$orange;
        color:#fff;
        overflow:hidden;
        -webkit-transition:height 1s ease;

        ul {
            margin:0;
            padding:0;
            width:220px;
            margin:10px;
            list-style:none;
            position:absolute;
            top:30%;

            .tagsinput {
                opacity:0;
                -webkit-transition:opacity 1s ease;
                position: absolute;
                top: 20px;
            }
        }


        p {
            float:right;
            text-align:right;
            opacity:1;
            color:white;
            font-size:20px;
            text-shadow: hsl(0,0%,0%) -1px 1px, hsl(0,0%,0%) -2px 2px;
            font-family:'asap';
            line-height:10;
            padding-right:50px;
            -webkit-transition:opacity .6s ease-out;

            img {
                height:25px;
                width:25px;
            }
        }

    }
.nav:hover {
    height:200px;
    -webkit-transition:height 1s ease;

    p {
        opacity:0;
        -webkit-transition:opacity 1.3s;
    }

    .tagsinput {
        opacity:1;
        -webkit-transition:opacity 1s ease;
    }
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
        padding:0;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    .header h3 {
    }
}

@media screen and (max-width:768px) {
    .container {
        padding:0;
    }

    .header{
        width:100%;

        h3 {
            text-align:center;
            display:inherit;
        }

        p {
            display:none;
        }
    }
}
